Django
djangorestframework
python-docx
spacy
reportlab
openpyxl
pandas
bs4
celery
redis
watchdog
xlsxwriter
aiohttp
matplotlib
PyPDF2
python-decouple
numpy
lxml
lxml_html_clean
requests-html
celery-progress
