{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div></div>
        <h1 class="text-4xl font-bold text-center py-4 text-grey-800">About</h1>
        <div class="p-4">
        <p class="text-lg text-gray-700 p-4">
            Welcome to our Home Finder, a comprehensive solution designed to streamline the process of
            navigating the real estate market. I created this project because I saw a need for it in
            with so many people struggling to buy home in our economy. I hope it's useful to you!
        </p>
        <p class="text-lg text-gray-700 p-4">
            To emphasize, I do not, nor ever intend to, profit off of the productions of this application.
            It is strictly for recreational and educational purposes.
        </p>
        <p class="text-lg text-gray-700 p-4">If this project interests you, I'd love to hear from you! Please
            reach out/check out my <a href="https://github.com/pgil256" class="text-blue-600 hover:underline"
                target="_blank">Github</a> and
            <a href="https://www.linkedin.com/in/patrick-gilhooley-dev" class="text-blue-600 hover:underline"
                target="_blank">Linkedin</a>.
        </p>
    </div>

{% endblock %}