{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
        <div class="px-2 py-4">
            <h1 class="text-4xl font-bold text-center mb-8 text-gray-800">Help</h1>
            <p class="text-md mb-10 text-grey-700 text-center">
                Welcome to the Help and Support page. Here, you'll find guidance on the workflow of how to turn your
                real estate queries into graphics and data.
            </p>
            <h2 class="text-xl font-semibold mb-4 text-blue-700">Enter Keywords</h2>
            <p class="text-md text-gray-600 mb-4">To start generating excels:</p>
            <ol class="list-decimal pl-8 text-md text-gray-700">
                <li>Click on the "Find Real Estate" link.</li>
                <li>Choose the keywords that are most relevant to your property search.</li>
                <li>Rank them in order from most to least important, then submit.</li>
            </ol>
        </div>
        <div class="px-2 py-4">
            <h2 class="text-xl font-semibold mb-4 text-blue-700">Complete the Form</h2>
            <p class="text-md text-gray-600 mb-4">After selecting and ranking your key words:</p>
            <ol class="list-decimal pl-8 text-md text-gray-700">
                <li>A form will be generated based on your input.</li>
                <li>Fill the form based on the types of listing you want.</li>
                <li>Hit submit! We'll take care of the rest.</li>
            </ol>
        </div>
        <div class="px-2 py-4">

            <h2 class="text-xl font-semibold mb-4 text-blue-700">Reviewing your documents</h2>
            <p class="text-md text-gray-600 mb-4">Once you submit your form:</p>
            <ol class="list-decimal pl-8 text-md text-gray-700">
                <li>Real estate websites will be searched, and your data will be gathered.</li>
                <li>Once this is completed, you will receive 3 downloadable documents:<ol
                        class="list-decimal pl-8 text-md text-gray-700">
                        <ul>Visual data summarizing your search</ul>
                        <ul>A listing of your collected data</ul>
                        <ul>A spreadsheet providing your aggregated data</ul>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="px-2 py-4">
            <h2 class="text-xl font-semibold mb-4 text-blue-700">Additional Support</h2>
            <p class="text-md text-gray-600 mb-4">If you encounter any issues or have questions, please don't hesitate
                to
                contact me via <a href="mailto:pgilhooley95@gmail.com" class="text-blue-600 hover:underline">email</a>
                for any issues or ideas for feature implementation.</p>
        </div>
{% endblock %}